/* Global */

:root{
    /* Color */
    --color-primary-grey: #c1bfba;
    --color-light-grey: #f4f2ec;
    --color-dark-grey: #918f8a;
    --color-black: #000000;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Font weight */

    /* Size */

}

/* Universal tags */
* {
    box-sizing: border-box;
}